<%- include('./partials/head'); %>
<%- include('./partials/styles'); %>

<style>
  .content-home {
    margin-left: 3em;
    margin-right: 3em;
    padding-top: 1em;
  }

  .menu-header-main {
    padding-top: .75em;
    padding-bottom: .25em;
  }

  #menu-div .header {
    color: #2A00A2;
  }

  .header-text {
    color: rgba(0,0,0,.87);
  }

  #desktop-nav #menu-div {
    display: none;
  }

  /* @media only screen and (max-width: 600px) {
    #desktop-nav {
      display: none;
    }
  } */
  /* @media only screen and (max-device-width: 480px) {
    #desktop-nav {
      display: none;
    }
  } */

  /* @media only screen and (min-width: 600px) {
    #mobile-nav {
      display: none;
    }
  } */

/* @media (min-width: 25rem) {
  #desktop-nav {
    background: yellow;
  }
} */

</style>

<body>
<!-- <nav id="desktop-nav"> -->
  <div class="ui vertical right fixed menu" id="menu-div">
    <div class="item">
      <div class="header" id="header-title">
        <i class="ui icon bars center aligned dark-grey-text" onclick="toggle()"></i>
        Winter A. Runion
      </div>
      </div>
      <div class="item">
        <a class="header" href="#about">About</a>
      </div>
      <div class="item">
        <a class="header" href="#work">Work</a>
        <div class="menu">
          <a class="item" href="#evictorbook">Anti-Eviction Map</a>
          <a class="item" href="#epicodus">NYC Service Search</a>
          <a class="item" href="#rose-city-resource">Rose City Resource</a>
        </div>
      </div>
      <div class="item">
        <a class="header" href="#skills">Skills</a>
        <div class="menu">
          <a class="item" href="#ux-ui">UX/UI Design</a>
          <a class="item" href="#front-end">Front End/React</a>
          <a class="item" href="#full-stack">Full Stack Development</a>
          <a class="item" href="#education">Education</a>
        </div>
      </div>
      <div class="item">
        <a class="header" href="#contact">Contact</a>
          <div class="menu">
            <a class="item" href="https://www.linkedin.com/in/wrunion/" target="_blank" rel="noreferrer">
              <i class="ui icon linkedin alternate large"></i> LinkedIn
            </a>
            <a class="item" href="https://github.com/wrunion" target="_blank" rel="noreferrer">
              <i class="ui icon github large"></i> Github
            </a>
          </div>
      </div>
    </div>
  </div>
<!-- </nav> -->

  <!-- mobile nav  -->
  <!-- <nav id="mobile-nav">
    <div class="ui vertical sidebar top fixed menu" id="menu-div">
      <div class="item">
        <div class="header" id="header-title">
          <i class="ui icon bars center aligned dark-grey-text" onclick="toggle()"></i>
          Winter A. Runion
        </div>
        </div>
        <div class="item">
          <a class="header" href="#about">About</a>
        </div>
        <div class="item">
          <a class="header" href="#work">Work</a>
          <div class="menu">
            <a class="item" href="#evictorbook">Anti-Eviction Map</a>
            <a class="item" href="#epicodus">NYC Service Search</a>
            <a class="item" href="#rose-city-resource">Rose City Resource</a>
          </div>
        </div>
        <div class="item">
          <a class="header" href="#skills">Skills</a>
          <div class="menu">
            <a class="item" href="#ux-ui">UX/UI Design</a>
            <a class="item" href="#front-end">Front End/React</a>
            <a class="item" href="#full-stack">Full Stack Development</a>
            <a class="item" href="#education">Education</a>
          </div>
        </div>
        <div class="item">
          <a class="header" href="#contact">Contact</a>
            <div class="menu">
              <a class="item" href="https://www.linkedin.com/in/wrunion/" target="_blank" rel="noreferrer">
                <i class="ui icon linkedin alternate large"></i> LinkedIn
              </a>
              <a class="item" href="https://github.com/wrunion" target="_blank" rel="noreferrer">
                <i class="ui icon github large"></i> Github
              </a>
            </div>
        </div>
      </div>
    </nav> -->

  <!-- this class enables the Semantic side menu to work as it does  -->
  <!-- all non-sidebar page content belongs below  -->
  <div class="pusher">

    <div class="content-home">
      <!-- site title  -->
      <header id="top">
        <%- include('./content/header'); %>
      </header>

      <div class="ui divider"></div>

      <main class="main">
        <!-- about  -->
        <section id="about">
          <%- include('./content/about'); %>
        </section>
        <div class="ui divider"></div>

        <section id="work">
          <%- include('./content/work'); %>
        </section>

        <section id="skills">
          <%- include('./content/skills'); %>
        </section>
        <!-- <span class="mq-value"></span> -->

      </main>
    </div>
  </div>
  <footer>
    <%- include('./content/footer'); %>
  </footer>
</body>

<script>
  // sidebar settings 
  $('.ui.sidebar')
    .sidebar('setting', 'dimPage', false)
    .sidebar('setting', 'transition', 'overlay')
    .sidebar('show');

  // function toggle() { $('.ui.sidebar').sidebar('toggle') }

  let mediaQuerySmall = window.matchMedia('(max-width: 600px)');

  mediaQuerySmall.addListener(function(changed) {
    if (changed.matches) {
      $('.ui.vertical').addClass('top').removeClass('right').addClass('sidebar').removeClass('visible');
    } else {
      $('.ui.vertical').removeClass('visible').addClass('right').removeClass('top').sidebar('show');
    }
  })

  

  // if (isSmallScreen) {
  //   document.querySelector('#menu-div').classList.add('top').remove('right');
  // }


</script>