<%- include('./partials/head'); %>
<%- include('./partials/styles'); %>

<style>
  .content-home {
    margin-left: 3em;
    margin-right: 3em;
    padding-top: 1em;
  }
</style>

<div class="content-home">
  <!-- site title, includes contact icons  -->
    <%- include('./content/header'); %>
    <div class="ui divider"></div>
  <!-- /site title  -->

  <!-- sticky side menu  -->
    <%- include('./partials/navVertical'); %>
  <!-- /side menu  -->

  <main class="main">
    <!-- about  -->
    <%- include('./content/about'); %>

    <div class="ui divider"></div>

    <%- include('./content/work'); %>






  </main>
</div>


<!-- each of these sections will be conditionally displayed, based on what variable is passed in by Node -->

<!-- home content  -->
<div class="home" id="home">

</div>

<div class="page">


    <div class="ui form-container">
      <div class="container-content">
      <div class="banner-info">

      </div>
      <p></p>
      </div>
    </div>
  

</div>