<%- include('./partials/head'); %>
<%- include('./partials/styles'); %>

<style>
  .content-home {
    margin-left: 3em;
    margin-right: 3em;
    padding-top: 1em;
  }
</style>

<body>
  <nav>
  <div class="ui vertical sidebar right fixed menu">
    <div class="item">
      <div class="header">
        <i class="ui icon bars center aligned" onclick="toggle()"></i>
        Winter A. Runion
      </div>
      </div>
      <div class="item">
        <div class="header">About</div>
      </div>
      <div class="item">
        <div class="header">Work</div>
        <div class="menu">
          <a class="item">Rose City Resource</a>
          <a class="item">NYC Service Search</a>
          <a class="item">Anti-Eviction Map</a>
        </div>
      </div>
      <div class="item">
        <div class="header">Skills</div>
        <div class="menu">
          <a class="item">UX/UI Design</a>
          <a class="item">Front End/React</a>
          <a class="item">Full Stack Development</a>
        </div>
      </div>
      <div class="item">
        <div class="header">Contact</div>
          <div class="menu">
            <a class="item">LinkedIn</a>
            <a class="item">Github</a>
          </div>
      </div>
    </div>
  </nav>
  <div class="pusher">

<div class="content-home">
  <!-- site title, includes contact icons  -->
    <%- include('./content/header'); %>
    <div class="ui divider"></div>
  <!-- /site title  -->

  <!-- sticky side menu  -->
    <%- include('./partials/navVertical'); %>
  <!-- /side menu  -->

  <main class="main">
    <!-- about  -->
    <%- include('./content/about'); %>

    <div class="ui divider"></div>

    <%- include('./content/work'); %>



  </main>
</div>

    <!-- site content here  -->

  </div>
</body>

<script>
  $('.ui.sidebar')
    .sidebar('setting', 'transition', 'overlay')
    .sidebar('show')
  ;

  function toggle() { $('.ui.sidebar').sidebar('toggle') }
</script>