<%- include('./partials/head'); %>
<%- include('./partials/styles'); %>

<style>
  .content-home {
    margin-left: 3em;
    margin-right: 3em;
    padding-top: 1em;
  }

  .menu-header-main {
    padding-top: .75em;
    padding-bottom: .25em;
  }

</style>

<body>
  <nav>
  <div class="ui vertical sidebar right fixed menu">
    <div class="item">
      <div class="header menu-header-main">
        <i class="ui icon bars center aligned" onclick="toggle()"></i>
        Winter A. Runion
      </div>
      </div>
      <div class="item">
        <div class="header">About</div>
      </div>
      <div class="item">
        <div class="header">Work</div>
        <div class="menu">
          <a class="item">Rose City Resource</a>
          <a class="item">NYC Service Search</a>
          <a class="item">Anti-Eviction Map</a>
        </div>
      </div>
      <div class="item">
        <div class="header">Skills</div>
        <div class="menu">
          <a class="item">UX/UI Design</a>
          <a class="item">Front End/React</a>
          <a class="item">Full Stack Development</a>
        </div>
      </div>
      <div class="item">
        <div class="header">Contact</div>
          <div class="menu">
            <a class="item" href="https://www.linkedin.com/in/wrunion/" target="_blank" rel="noreferrer">
              <i class="ui icon external alternate"></i> LinkedIn
            </a>
            <a class="item" href="https://github.com/wrunion" target="_blank" rel="noreferrer">
              <i class="ui icon external alternate"></i> Github</a>
          </div>
      </div>
    </div>
  </nav>
  <div class="pusher">

    <div class="content-home">
      <!-- site title, includes contact icons  -->
        <%- include('./content/header'); %>
        <div class="ui divider"></div>
      <!-- /site title  -->

      <main class="main">
        <!-- about  -->
        <%- include('./content/about'); %>

        <div class="ui divider"></div>

        <%- include('./content/work'); %>
        <%- include('./content/skills'); %>


      </main>
    </div>
  </div>
  <%- include('./content/footer'); %>
</body>

<script>

  $('.ui.sidebar')
    .sidebar('setting', 'dimPage', false)
    .sidebar('setting', 'transition', 'overlay')
    .sidebar('toggle');

  function toggle() { $('.ui.sidebar').sidebar('toggle') }

</script>