<%- include('./partials/head'); %>
<%- include('./partials/styles'); %>

<style>
  .content-home {
    margin-left: 3em;
    margin-right: 3em;
    padding-top: 1em;
  }

  .menu-header-main {
    padding-top: .75em;
    padding-bottom: .25em;
  }

</style>

<body>
  <nav>
  <div class="ui vertical sidebar right fixed menu">
    <div class="item">
      <div class="header menu-header-main">
        <i class="ui icon bars center aligned" onclick="toggle()"></i>
        Winter A. Runion
      </div>
      </div>
      <div class="item">
        <a class="header" href="#about">About</a>
      </div>
      <div class="item">
        <a class="header" href="#work">Work</a>
        <div class="menu">
          <a class="item" href="#evictorbook">Anti-Eviction Map</a>
          <a class="item" href="#epicodus">NYC Service Search</a>
          <a class="item" href="#rose-city-resource">Rose City Resource</a>
        </div>
      </div>
      <div class="item">
        <a class="header" href="#skills">Skills</a>
        <div class="menu">
          <a class="item" href="#ux-ui">UX/UI Design</a>
          <a class="item" href="#front-end">Front End/React</a>
          <a class="item" href="#full-stack">Full Stack Development</a>
          <a class="item" href="#education">Education</a>
        </div>
      </div>
      <div class="item">
        <a class="header" href="#contact">Contact</a>
          <div class="menu">
            <a class="item" href="https://www.linkedin.com/in/wrunion/" target="_blank" rel="noreferrer">
              <i class="ui icon linkedin alternate large"></i> LinkedIn
            </a>
            <a class="item" href="https://github.com/wrunion" target="_blank" rel="noreferrer">
              <i class="ui icon github large"></i> Github
            </a>
          </div>
      </div>
    </div>
  </nav>
  <!-- this class enables the Semantic side menu to work as it does  -->
  <!-- all non-sidebar page content belongs below  -->
  <div class="pusher">

    <div class="content-home">
      <!-- site title  -->
      <header id="top">
        <%- include('./content/header'); %>
      </header>

      <div class="ui divider"></div>

      <main class="main">
        <!-- about  -->
        <section id="about">
          <%- include('./content/about'); %>
        </section>
        <div class="ui divider"></div>

        <section id="work">
          <%- include('./content/work'); %>
        </section>

        <section id="skills">
          <%- include('./content/skills'); %>
        </section>

      </main>
    </div>
  </div>
  <footer>
    <%- include('./content/footer'); %>
  </footer>
</body>

<script>

  $('.ui.sidebar')
    .sidebar('setting', 'dimPage', false)
    .sidebar('setting', 'transition', 'overlay')
    .sidebar('toggle');

  function toggle() { $('.ui.sidebar').sidebar('toggle') }

</script>